@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Varela+Round&display=swap');

$color-primary: rgb(243, 155, 4);
$color-secondary: #51992d;
$color-hover: #77cb72;
$color-background: purple;
$color-card: rgb(100, 147, 177);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: $color-background;
}

#modal {
    margin: auto;
    border-radius: 1rem;
    padding: 2rem;
    background-color: $color-background;

    & > * {
        margin: 0 0 0.5rem 0;
    }

    &::backdrop {
        background: rgb(0 0 0 / 0.4);
    }

    button {
        margin: 0 auto;
        display: block;
    }
}

.controls {
    color: $color-primary;
    font-size: larger;
    padding: 10px 20px;
    border: 2px solid $color-secondary;
    border-radius: .5rem;
}

button {
    padding: 10px 20px;
    transition: 0.3s;
    background: none;

    &:hover {
        box-shadow: inset 0 0 0 2em $color-secondary;
        color: #fff;
        cursor: pointer;

        &:active {
            border-color: #fff;
        }
    }

    &:focus-visible {
        outline: none;
    }
}

h1 {
    padding-bottom: 1rem;
    color: $color-primary;
}

.flex-container__memoryGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container__memoryGame {
    display: grid;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;

    &.small {
        grid-template-columns: repeat(4, 10rem);
        grid-template-rows: repeat(3, 10rem);
    }

    &.medium {
        grid-template-columns: repeat(5, 10rem);
        grid-template-rows: repeat(4, 10rem);
    }

    &.large {
        grid-template-columns: repeat(6, 9rem);
        grid-template-rows: repeat(4, 9rem);
    }
}

@media screen and (max-width: 800px) {
    .grid-container__memoryGame {
        &.small {
            grid-template-columns: repeat(3, 6rem);
            grid-template-rows: repeat(4, 6rem);
        }
    
        &.medium {
            grid-template-columns: repeat(4, 4.5rem);
            grid-template-rows: repeat(5, 4.5rem);
        }
    
        &.large {
            grid-template-columns: repeat(4, 4.5rem);
            grid-template-rows: repeat(6, 4.5rem);
        }
    }
}

.flip-card-container {
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .5s;
    transform-style: preserve-3d;
}

.flip-card-container.flip .flip-card {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flip-card-front {
    background-color: $color-card;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-back  img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}




