@use "./_variables" as *;
@use "./_flipCards" as *;
@use "./_controls" as *;


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: $color-background;
    width: 100%;
    height: 100vh;
}

#modal {
    margin: auto;
    border-radius: 1rem;
    padding: 2rem;
    background-color: $color-background;
    box-shadow:  0 0 10px 10px rgb(66, 1, 53);
    border: $color-background;

    & > * {
        margin: 0 0 0.5rem 0;
    }

    &::backdrop {
        background: rgb(0 0 0 / 0.4);
    }

    button {
        margin: 0 auto;
        display: block;
    }

    canvas {
        position: fixed;
        top: 0px;
        left: 0px;
        pointer-events: none;
    }
}

.flex-container__layout {
    display: flex;
    flex-direction: column;
}

h1 {
    padding-bottom: 1rem;
    color: $color-primary;
}

.flex-container__memoryGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    option {
        color: $color-secondary;
    }
}

// default for laptop or ipad screen
.grid-container__memoryGame {
    display: grid;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    padding: 1rem;

    &.small {
        grid-template-columns: repeat(4, 10rem);
        grid-template-rows: repeat(3, 10rem);
    }

    &.medium {
        grid-template-columns: repeat(5, 10rem);
        grid-template-rows: repeat(4, 10rem);
    }

    &.large {
        grid-template-columns: repeat(7, 9rem);
        grid-template-rows: repeat(4, 9rem);
    }
}

//laptop screen or ipad in portrait mode
@media screen and (min-width: 834px) and (orientation: portrait) {
    .grid-container__memoryGame {
        &.small {
            grid-template-columns: repeat(3, 10rem);
            grid-template-rows: repeat(4, 10rem);
        }
    
        &.medium {
            grid-template-columns: repeat(4, 10rem);
            grid-template-rows: repeat(5, 10rem);
        }
    
        &.large {
            grid-template-columns: repeat(4, 8rem);
            grid-template-rows: repeat(7, 8rem);
        }
    }
}

//phone in portrait mode
@media screen and (max-width: 833px) {
    .grid-container__memoryGame {
        &.small {
            grid-template-columns: repeat(3, 6rem);
            grid-template-rows: repeat(4, 6rem);
        }
    
        &.medium {
            grid-template-columns: repeat(4, 5rem);
            grid-template-rows: repeat(5, 5rem);
        }
    
        &.large {
            grid-template-columns: repeat(4, 5rem);
            grid-template-rows: repeat(7, 5rem);
        }
    }
}

//phone in landscape mode
@media screen and (min-width: 834px) and (max-width: 1193px) and (orientation: landscape) {
    .flex-container__layout {
        flex-direction: row;
        padding-left: 1rem;
    }

    .flex-container__memoryGame > div > * {
        display: block;
        margin-bottom: 1rem;
    }

    .grid-container__memoryGame {
        &.small {
            grid-template-columns: repeat(4, 7rem);
            grid-template-rows: repeat(3, 7rem);
        }
    
        &.medium {
            grid-template-columns: repeat(5, 5rem);
            grid-template-rows: repeat(4, 5rem);
        }
    
        &.large {
            grid-template-columns: repeat(7, 5rem);
            grid-template-rows: repeat(4, 5rem);
        }
    }
}
